[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/thierry/Badgeuse_Activity/Badgeuse.sh
Name=Badgeuse
Comment=Badgeuse Plateforme
Icon=/home/thierry/Badgeuse_Activity/Badgeuse.png
